<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Tell IIS to pass through the actual responses produced by Node (do not replace them) -->
    <httpErrors existingResponse="PassThrough"><!-- send actual status code -->
     
    </httpErrors>

    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="Node.js" stopProcessing="true">
          <match url="(.*)"/>
          <action type="Rewrite" url="app.js"/>
        </rule>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?"/>
        </rule>
      </rules>
    </rewrite>

    <directoryBrowse enabled="true"/>
    <iisnode devErrorsEnabled="true" debuggingEnabled="true" loggingEnabled="true"
             nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"/>
  </system.webServer>

  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\vengurlatech.com\tmp"/>
  </system.web>
</configuration>
